.input {
  width: 20%;
  padding: 12px 20px;
  margin: 2% 20%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e49191;
  color: rgb(243, 128, 93);
  background-color: wheat;
  border-radius: 40px;
}
.textarea {
  width: 20%;
  padding: 12px 20px;
  margin: 2% 20%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e49191;
  color: rgb(243, 128, 93);
  background-color: wheat;
  border-radius: 40px;
}
label {
  margin: 2% 20%;
  font-size: 2vw;
}
.textarea:hover {
  width: 70%;
}
.input:hover {
  width: 70%;
}
button {
  border-radius: 40px;
  border: none;
  width: 10%;
  margin: 2% 20%;
}
button:hover {
  color: aqua;
  background-color: brown;
}
